.gradle/8.8/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/metadata.bin
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$JunitLibraryAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$JunitVersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JunitLibraryAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JunitVersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
app/build/classes/java/main/tiktakto/App.class
app/build/classes/java/main/tiktakto/Board.class
app/build/classes/java/main/tiktakto/Input.class
app/build/classes/java/main/tiktakto/KI.class
app/build/classes/java/main/tiktakto/User.class
app/build/tmp/compileJava/previous-compilation-data.bin
app/build/tmp/compileJava/compileTransaction/stash-dir/App.class.uniqueId0
